* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F8F4F0;
    color: #202020;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
    min-height: 100vh;
}

h2 {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.75rem 0;
}

.container {
    background-color: white;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 1rem;
}

.logotipo {
    width: 100%;
    margin-bottom: 0.75rem;
}

.checkbox-area {
    background-color: #F3E8EA;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.checkbox-area input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#btn-verificar {
    background-color: #B76E79;
    color: #FAFAFA;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    padding: 0.75rem;
    margin: 0.75rem 0;
}

#btn-verificar:hover{
    background-color: #9E5C66;
}

#resultado {
    font-weight: 600;
    display: none;
}